.map {
  height: 600px;
  border: 1px solid rgb(76, 105, 124);
  border-radius: 10px;
}

.g {
  display: inline;
}

.background {
  fill:#2f343f;
  fill-opacity:1;
  stroke:none;
  stroke-width:.625;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:2.60787;
  stroke-opacity:1;
  paint-order:fill markers stroke;
  stop-color:#000
}

.sea {
  fill:#3c4a7c;
  fill-opacity:1;
  stroke:none;
  stroke-width:.625;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

.river {
  fill:none;
  stroke:#3c4a7c;
  stroke-width:1.5625;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

.borderSt {
  fill:none;
  stroke:#7b7b7b;
  stroke-width:3.125px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1
}

.borderR {
  fill:none;
  stroke:#7b7b7b;
  stroke-width:1.5625;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

.text {
  font-style:normal;
  font-weight:400;
  font-size:0.35rem;
  line-height:1.25;
  font-family:'Roboto Condensed';
  letter-spacing:0;
  word-spacing:0;
  white-space:pre;
  fill:#cbcbcb;
  fill-opacity:1;
  stroke:none
}

.circle {
  fill:#2f343f;
  fill-opacity:1;
  stroke:#c5c5c5;
  stroke-width:3.125;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:2.60787;
  stroke-opacity:1;
  paint-order:fill markers stroke;
  stop-color:#000
}

.settlement {
  fill:#fff;
  stroke:rgb(165, 165, 165);
  stroke-width: .5px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  fill-opacity: .1;
}