.simpleCell {
  position: relative;
  width: 60px;
  text-align: center;
  padding: 2px 5px;
  border: 1px solid rgb(196, 196, 196);
}

.simpleCell_ice {
  box-shadow: inset 0 0 3px rgba(0, 132, 255, 0.603);
}

.simpleCell:hover {
  background-color: rgb(122, 235, 169);
}

.simpleCell:hover > .button {
  display: flex;
}

.propsBlock {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  border: 1px rgb(150, 150, 150) solid;
  box-shadow: 2px 2px 5px rgb(117, 117, 117);
}

.propsBlock_hide {
  display: none;
}

.propsBlock_show {
  display: flex;
}

.button {
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  top: 2px;
  right: 2px;
  border: none;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 10px;
  height: 8px;
}

.path {
  fill:rgb(0, 0, 0);
  fill-opacity:1;
  stroke:#fff;
  stroke-width:.566929;
  stroke-dashoffset:2.60787;
  stroke-opacity:1;
  paint-order:fill markers stroke;
  stop-color:#000;
}