.header {
  background-color: #282c34;
  height: 60px;
  margin: 0;
  padding-left: 80px;
  border-bottom: 2px solid #484f5c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
}

.title {
  color: rgb(240, 240, 240);
  font-family: 'Roboto';
  font-size: 28px;
  margin: 0;
}
