.form {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  font-family: 'Roboto Light';
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 20px;
  width: 50px;
  display: inline-block;
  padding: 0;
}

.date {
  margin-right: 20px;
  height: 33px;
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-family: 'Roboto';
}

.date:invalid {
  margin-right: 20px;
  height: 33px;
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-family: 'Roboto';
  border: 2px solid red;
}

.button {
  cursor: pointer;
  background-color: #4cacaf;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto';
}

.button:hover {
  background-color: #8bdcdf;
}