.main {
  width: 100vw;
  height: calc(100vh - 70px);
  margin: 0;
}

.content {
  margin: 40px 80px;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.nav {
  width: 40%;
  height: 800px;
  overflow-y: scroll;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 800px;
}