.propsBlock {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: -90px;
  right: 70px;
  z-index: 2;
  border: 1px rgb(150, 150, 150) solid;
  box-shadow: 2px 2px 5px rgb(117, 117, 117);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  width: 300px;
  text-align: left;
}

.text {
  margin: 10px 0 0;
}

.span {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 1.5rem;
}

.list {
  padding: 0;
  list-style-position: inside;
}

.list_item {
  padding-inline-start: 20px;
  font-style: italic;
  margin-top: 5px;
}