.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.459);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: relative;
}

.content {
  width: calc(100% - 60px);
  margin: 30px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: rgb(35, 53, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.closeButton:hover {
  background-color: crimson;
}

.svg {  
  width: 15px;
  height: 15px;
}

.cross {
  fill:none;
  stroke:#ffffff;
  stroke-width:1.05833;
  stroke-linecap:round;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1;
}